
Curso/obj/Debug/net5.0/DominandoEfCore.pdb
Curso/obj/Debug/net5.0/DominandoEfCore.pdb
Curso/obj/Debug/net5.0/DominandoEfCore.pdb
Curso/obj/Debug/net5.0/DominandoEfCore.dll
Curso/obj/Debug/net5.0/DominandoEfCore.pdb
Curso/.vs/DominandoEfCore/v16/.suo
*.pdb
